@model IEnumerable<BancoDados_Kasaleve_SistemaTudo.Models.Produto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.produtoNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.produtoValor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.produtoFoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoProduto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.produtoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.produtoValor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.produtoFoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoProduto.tipoProdutoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.produtoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.produtoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.produtoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
