@model IEnumerable<BancoDados_Kasaleve_SistemaTudo.Models.OrcamentoItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrcamentoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orcamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdutoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoItem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.OrcamentoId)
            </td>
            <td>
                @Html.DisplayFor(model => item.Orcamento)
            </td>
            <td>
                @Html.DisplayFor(model => item.ProdutoId)
            </td>
            <td>
                @Html.DisplayFor(model => item.Produto)
            </td>
            <td>
                @Html.DisplayFor(model => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(model => item.ValorUnitario)
            </td>
            <td>
                @Html.DisplayFor(model => item.DescricaoItem)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrcamentoItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrcamentoItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrcamentoItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
