@model BancoDados_Kasaleve_SistemaTudo.Models.Praice

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Praice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.praiceValor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.praiceValor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produto.produtoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoProduto.tipoProdutoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.praiceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
