@model IEnumerable<BancoDados_Kasaleve_SistemaTudo.Models.Tarefa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVencimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prioridade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCriacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(model => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(model => item.DataVencimento)
            </td>
            <td>
                @Html.DisplayFor(model => item.Status)
            </td>
            <td>
                @Html.DisplayFor(model => item.Prioridade)
            </td>
            <td>
                @Html.DisplayFor(model => item.UsuarioId)
            </td>
            <td>
                @Html.DisplayFor(model => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(model => item.DataCriacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TarefaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TarefaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TarefaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
