@model IEnumerable<BancoDados_Kasaleve_SistemaTudo.Models.Produto>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h1>Lista de Produtos</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Novo Produto</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Valor</th>
            <th>Data Cadastro</th>
            <th>Ativo</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
            <td>@item.Valor.ToString("C")</td>
            <td>@item.DataCadastro.ToShortDateString()</td>
            <td>@(item.Ativo ? "Sim" : "Não")</td>
            <td>
                <a asp-action="Edit" asp-route-produtoid="@item.ProdutoId" class="btn btn-warning btn-sm">Editar</a> |
                <a asp-action="Details" asp-route-produtoid="@item.ProdutoId" class="btn btn-info btn-sm">Detalhes</a> |
                <a asp-action="Delete" asp-route-produtoid="@item.ProdutoId" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
