@model IEnumerable<BancoDados_Kasaleve_SistemaTudo.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.clienteNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clienteCPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clienteCEP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clienteEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clienteCyti)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clienteTel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clienteEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clienteRG)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.clienteNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clienteCPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clienteCEP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clienteEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clienteCyti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clienteTel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clienteEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clienteRG)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.clienteId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.clienteId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.clienteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
