@model IEnumerable<BancoDados_Kasaleve_SistemaTudo.Models.Logim>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LogimNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogimSenha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogimEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LogimNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogimSenha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogimEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo.cargoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LogimId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LogimId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LogimId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
